<?xml version='1.0' encoding='UTF-8'?>

<configuration debug="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{40} - %msg%n"/>
    <springProperty scope="context" name="ROLLING_PATH_PATTERN" source="logging.pattern.rolling-path"
                    defaultValue="%d{yyyy-MM-dd,aux}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
        ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file-logger" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>false</prudent>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${ROLLING_PATH_PATTERN}/${ROLLING_FILE_NAME_PATTERN}</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${LOG_FILE_MAX_SIZE:-10MB}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${LOG_FILE_MAX_HISTORY:-7}</maxHistory>
            <totalSizeCap>${LOG_FILE_TOTAL_SIZE_CAP:-5GB}</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="async-file" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="file-logger"/>
    </appender>

    <logger name="com.javastudio.tutorial" level="INFO" additivity="false">
        <appender-ref ref="async-file"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>